<div id="topnav" class="navbar">
  <a href="#" class="logo"> LOOKER </a>
  <div class="navbar-right menu">
    <a href="/home" class="active"> Home </a>
    <a href="#"> Services </a>
    <a href="#"> Career </a>
    <div class="dropdown">
      <a class="dropbtn">Our Team</a>
      <div class="dropdown-content">
        <a href="#">Team members</a>
        <a href="/achievement">Achivements</a>
        <a href="/blog">Blog</a>
      </div>
    </div>
    <a href="#"> Contact </a>
    <button class="button" id="form-open">Login</button>
  </div>
</div>
